<div class="ui inverted vertical footer segment form-page">
  <div class="ui container"><a href='https://github.com/jgengo/matcha'><i class='icon github'></i> Github</a></div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/semantic/semantic.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
  function redirect_logout() { window.location.href='/logout'; }
  function redirect_settings() { window.location.href='/settings'; }
  function redirect_contact() { window.location.href='/contact'; }
  $('.dropdown').dropdown({ transition: 'slide down' });
</script>