<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title><%= locals.site.title %></title>
<link rel="stylesheet" href="/assets/bt-tagsinput/dist/bootstrap-tagsinput.css">
<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/assets/datepicker/dist/datepicker.min.css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/assets/css/main/main.css" />
