<div class="ui inverted violet menu" id='ft_navbar'>
  <div class='ui container'>
    <a class='item' id="ft_brand" href='/'><img src='/logo_thumb.png' /></a>
    <a class="item <%- (locals.active && locals.active === 'home') ? 'active' : '' %>" href="/">
      <i class="icon home"></i>Home
    </a>
    <a class="item <%- (locals.active && locals.active === 'profil') ? 'active' : '' %>" href='/profil/<%- (current_user) ? current_user.id : '' %>'>
      <i class="user icon"></i>Profil
    </a>
    <div class="right menu">
      <a class="item ft_notif"><i class="talk icon single"></i></a>
      <a class="item ft_notif" style='opacity: 1;'><i class='icon announcement single'></i><div class="floating mini ui red label">42</div></a>
      <a class="ui right pointing top dropdown item ft_notif">
        <i class="dropdown icon single " id='ft_settings'></i>
        <div class="menu">
          <div class="item" onClick='redirect_editprofile();'><i class="icon user outline"></i>Edit your profile</div>
          <div class="divider"></div>
          <div class="item" onClick='redirect_contact();'><i class='icon mail outline'></i>Contact us</div>
          <div class="item" onClick='redirect_settings();'><i class='icon settings'></i>Settings</div>
          <div class="divider"></div>
          <div class="item" onClick='redirect_logout();''><i class='icon power'></i>Logout</div>
        </div>
      </a>
    </div>
  </div>
</div>