<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include("partials/_head") %>
  </head>
  
  <body>
  <%- include("partials/_navbar") %>

  
  <div class='ui container segment' id='ft_main'>

    <!-- title -->
    <h3 class="ui icon violet"><i class=" bordered violet inverted user icon"></i> Profile </h3>  
    <div class='ui divider'></div>

  


<div class="ui five column grid">

  <div class="column">
    <div class="ui card" id='avatar'>
    <div class="ui top attached segment mini center aligned"><h4>Avatar</h4></div>
    <div class='image'><img class="ui image" src='https://semantic-ui.com/images/avatar2/large/kristy.png' /></div>
    <div class="ui bottom attached button tiny violet"><i class="add icon"></i>Change</div>
    </div>
  </div>


<!--   <div class="column">
    <div class="ui segment">
      <img class="ui centered small image" src='https://semantic-ui.com/images/avatar2/large/kristy.png' />
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img class="ui centered small image" src='https://semantic-ui.com/images/avatar2/large/kristy.png' />
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img class="ui centered small image" src='https://semantic-ui.com/images/avatar2/large/kristy.png' />
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img class="ui centered small image" src='https://semantic-ui.com/images/avatar2/large/kristy.png' />
    </div>
  </div> -->
</div>



</div>

<%- include("partials/_footer") %>

<script>
  function redirect_logout() { window.location.href='/logout'; }
  function redirect_settings() { window.location.href='/settings'; }

  $('.dropdown').dropdown({ transition: 'slide down' });
  function destroyAcc() { if ( $("input[name='destroy']:checked")[0] ) { window.location.href='/destroy'; } }
</script>