<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include("partials/_head") %>
  </head>

  <body>
  <%- include("partials/_navbar") %>
  
  <div class='ui container segment' id='ft_main'>
    <h3 class="ui icon violet"><i class=" bordered violet inverted settings icon"></i> Settings </h3>  
    <div class='ui divider'></div>

    <div class="ui grid">
      <div class="six wide column">
        <h4>Destroy Account</h4>
        <p>This action is irreversible, be really sure before clicking the button.</p>
        <div class="ui checkbox">
          <input type="checkbox" value='0' class='appDetails' name="destroy">
          <label>Yes, I'm sure !</label>
        </div>
        <p><div class="ui animated fade small fluid red button disabled" id='destroyButton' type="submit" onClick="destroyAcc()">
          <div class="visible content">Destroy</div>
          <div class="hidden content"><i class="icon trash"></i></div>
        </div></p>
      </div>
  </div>

</div>

<%- include("partials/_footer") %>

<script>
  function redirect_logout() { window.location.href='/logout'; }
  function redirect_settings() { window.location.href='/settings'; }

  $('.dropdown').dropdown({ transition: 'slide down' });
  $(document).on("click",".appDetails", function () {
    $('#destroyButton').toggleClass('disabled')
});
  function destroyAcc() { if ( $("input[name='destroy']:checked")[0] ) { window.location.href='/destroy'; } }
</script>