<%- include("_header") %>

<div class="container">
<div class="ui large primary pointing menu">
  <a class="item active">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
<div class="ui segment ">
  <p></p>
  <div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Create User</div>
      <div class="description">Basics informations</div>
    </div>
  </div>
  <div class="completed step">
    <div class="content">
      <div class="title">More details</div>
      <div class="description">Give more details about you</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">Confirm Order</div>
      <div class="description">Verify order details</div>
    </div>
  </div>
</div>
</div>
</div>


<%- include("_footer") %>