<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" type="text/css" href="/assets/css/timeline/main.css" />
  </head>

  <body>
    <%- include('../partials/_navbar') %>
    <div class='ui container segment' id='ft_main'>

      <div class="left floated left aligned six wide column">
        <h3 class="ui icon violet">
        <i class=" bordered violet inverted list icon"></i> Timeline
        </h3>
      </div>
      <div class="ui divider"></div>

      <div class="ui stackable two column grid">
        <div class="ten wide column centered">
          <div class="three ui large buttons" id="buttons">
            <button class="ui violet button" id='all'>All</button>
            <button class="ui violet basic button" id='stalks'><i class='fitted unhide icon'></i> Stalks</button>
            <button class="ui violet basic button" id='likes'><i class='fitted thumbs up icon'></i> Likes</button>
          </div>
        </div>
      </div>

      <div class="column" id='timeline_box'>
        <div id='feed'>
          <!-- vignette ici -->
        </div>
      </div>

  </div>

    <%- include('../partials/_footer') %>


<script>

$('#all').click( event => {
  $(event.target).addClass('active').removeClass('basic')
  $('#stalks, #likes').removeClass('active').addClass('basic');
  $('.stalk, .like').removeClass('hidden');
})

$('#stalks').click( event => {
  $(event.target).addClass('active').removeClass('basic');
  $('#all, #likes').removeClass('active').addClass('basic');
  $('.stalk').removeClass('hidden');
  $('.like').addClass('hidden');
})
$('#likes').click( event => {
  $(event.target).addClass('active').removeClass('basic');
  $('#all, #stalks').removeClass('active').addClass('basic');
  $('.stalk').addClass('hidden');
  $('.like').removeClass('hidden');
})

function build_event(data)
{
  html = `<a href="/profil/${data.id}" class="no-a">
            <div class="ui segment event ${data.type}">
              <i class="${(data.type === 'stalk') ? 'unhide' : 'thumbs up'} violet icon"></i>
              <p class="text"><span class="user">${data.first_name} ${data.last_name}</span> ${(data.type === 'stalk') ? 'watched' : 'liked'} your profile</p>
              <p class="date">${data.created_at}</p>
            </div>
          </a>`


  // html = `<div class="event ${data.type}"><div class="label"><i class='large ${(data.type === 'stalk') ? 'unhide' : 'thumbs up'} violet icon'></i></div><div class="content">
  // <div class="summary"><a href="/profil/${data.id}" class='user'>${data.first_name} ${data.last_name}</a> ${(data.type === 'stalk') ? 'watched' : 'liked'} your profile<div class='date'>${data.created_at}</div>
  // </div></div></div>`
  return html
}

var socket = io.connect('')
socket.on('connect', data => {
  socket.emit('timeline ls');
});
socket.on('timeline ls', data => {
  $.each(data, function(i, item) {
    $('#feed').append(build_event(item));
  });
});
</script>

