<form action="/register/step" method="post" class="ui form">

  <% if (locals.flash && locals.flash.error) { %>
    <div class="ui negative message"><ul>
    <% for (error of flash.error) { %>
      <li><%= error %></li>
    <% } %>
    </ul></div>
  <% } %>

  <!-- Tags -->
  <div class="field">
    <label id='mi'>Main interests</label>
    <input type="text" name="tags" value="C, Ruby on Rails" data-role="tagsinput" id='tags' />
  </div>
  
  <!-- Biography -->
  <div class="field">
    <label>About you</label>
    <textarea name='bio' id='bio'></textarea>
  </div>

  <!-- Button -->
  <div class="field" style="margin-top: 20px">
    <div class="ui animated fade large fluid violet button" type="submit" onClick="sendForm()">
      <div class="visible content">Confirm</div>
      <div class="hidden content"><i class="icon right arrow"></i></div>
    </div>
  </div>
</form>
<div class="ui right close rail">
  <div class="ui segment" id="helpbox">
    <h5 class='ui header violet'>Main interests</h5>
    <p>Give us up to five of your favourite things to help us find your perfect match.</p>
    </div><div class='ui segment' id='helpbox'>
    <h5 class='ui header violet'>About you</h5>
      <p>Tell other members a bit more about yourself. This will be the bio used for your personal profile.</p>
  </div>
</div>