<form action="/register/step" method="post" class="ui form">

  <!-- hidden fields -->
  <input type="radio" name="gender" id="r_g_male" value="male" hidden checked>
  <input type="radio" name="gender" id="r_g_female" value="female" hidden>
  <input type="checkbox" name="interested_by" id="c_o_male" value="male" hidden>
  <input type="checkbox" name="interested_by" id="c_o_female" value="female" hidden>
  <input type="text" name='validate_step' value='2' hidden>


  <% if (locals.flash && locals.flash.error) { %>
    <div class="ui negative message"><ul>
    <% for (error of flash.error) { %>
      <li><%= error %></li>
    <% } %>
    </ul></div>
  <% } %>


  <!-- Gender -->
  <div class="field">
    <label>Gender</label>
    <div class="inline fields go_centered">
      <div class="field">
        <i class="violet inverted big circular male icon" id="g_male"></i>
      </div>
      <div class="field">     
        <i class="grey big circular female icon" id="g_female"></i>
      </div>
    </div>
  </div>

  <!-- Birthdate -->
  <div class="field">
    <label>Birthdate</label>
    <input data-toggle="datepicker" name="birthdate" placeholder="Click here to enter your birthdate">
  </div>

  <!-- Location -->
  <div class="field">
    <label>Location</label>
    <input type="text" name="location" placeholder="Paris" />
    <div class="ui checkbox" style="padding-top: 5px">
      <input type="checkbox" name="hide_location" value='1' />
      <label>Hide from others</label>
    </div>
  </div> 

  <!-- Orientation -->
  <div class="field" style="padding-top: 15px">
    <label>Interested by</label>
    <div class="inline fields go_centered">
      <div class="field">
        <i class="grey big circular male icon toggle button" id="o_male"></i>
      </div>
      <div class="field">
        <i class="grey big circular female icon" id="o_female"></i>
      </div>
    </div>
  </div>

  <!-- Button -->
  <div class="field" style="margin-top: 20px">
    <div class="ui animated fade large fluid violet button" type="submit" onClick="sendForm()">
      <div class="visible content">Confirm</div>
      <div class="hidden content"><i class="icon right arrow"></i></div>
    </div>
  </div>

</form>
<div class="ui right close rail">
  <div class="ui segment" id="helpbox">
    <h5 class='ui header violet'>Location</h5>
    <p>Letting us know where you live allows us to match you with members around you.</p>
</div>